---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import "@fontsource/m-plus-rounded-1c";
---

<Layout title="Miles Vellozzo">
	<Navbar></Navbar>
	<Hero title="Miles Vellozzo" subtitle="Fullstack developer, digital craftsman, maker of things. "></Hero>
	<div class="">
		<h1>Welcome to Astro.</h1>
		<p>That image doesn't scale properly... also change hero to be responsive... on smaller screens it should fit etc.</p>
	</div>	
</Layout>

<style>

</style>
