
<div class="pt-16 pb-5">
    <div class="flex justify-center">
        <span>Miles Vellozzo | 2022</span>
    </div>
    <div class="flex justify-center">
        <span>Site made with Astro and Tailwind</span>
    </div>

</div>