---
import '@fontsource/eb-garamond';
/* Custom font installed via https://docs.astro.build/en/guides/fonts/ and https://fontsource.org/fonts/eb-garamond */

export interface Props {
	title: string;
    subtitle: string;
}

const { title, subtitle } = Astro.props;
---
<div class="my-5">

    <div class="mb-5">
        <span class="text-6xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-green-600 to-teal-700
        " style="font-family: 'EB Garamond', serif; font-weight: 800;">
            {title}
        </span>
    </div>
    <div>
        <span class="text-2xl" >
            {subtitle}
        </span>
    </div>

</div>