---
import "@fontsource/vt323"
import "@fontsource/m-plus-1-code"
/* Custom font installed via https://docs.astro.build/en/guides/fonts/ and https://fontsource.org/fonts/eb-garamond */

export interface Props {
	title: string;
    subtitle: string;
}

const { title, subtitle } = Astro.props;
---
<div class="my-5">

    <div class="mb-5">
        <span class="text-6xl font-bold bg-clip-text text-transparent 
        bg-gradient-to-r from-teal-600 to-cyan-600
        " style="font-family: 'VT323', monospace; font-weight: 800;">
            {title}
        </span>
    </div>
    <div>
        <span class="text-2xl" style="font-family: 'M PLUS 1 Code', sans-serif;">
            {subtitle}
        </span>
    </div>

</div>