---
export interface Props {
	link: string;
}

const { link} = Astro.props;
---

<li class="my-2 transition ease-in-out delay-150  hover:scale-110 duration-150 hover:translate-x-10">
    <a href={link}  class="hover:underline decoration-[3px]">
        <div class="flex">
            <slot></slot>
        </div>
    </a>
</li>