---
import "@fontsource/m-plus-rounded-1c";
import PizzaPiratePixelIcon from '../components/PizzaPiratePixelIcon.astro';
---
<div class="flex justify-between  py-4 backdrop-blur-sm md:px-[13px] sm:px-[12px] p-1">

    <div class="flex">
        <PizzaPiratePixelIcon></PizzaPiratePixelIcon>
        <span class="my-auto font-bold text-l ml-4" style="font-family: 'M PLUS Rounded 1c', sans-serif;">
            Miles Vellozzo</span>
    </div>



    <ul class="flex">
        <li class="">
            <button class="hover:bg-gradient-to-r from-[#0d9488cc] to-[#0891b2cc] 
            hover:underline
            decoration-cyan-800
            decoration-4 
            active:ring-2  
            ring-cyan-800 
            font-bold py-1 px-4 rounded
            transition ease-in-out delay-150  hover:scale-110 duration-150">
                Projects
            </button>
        </li>
        <li class="">
            <button class="hover:bg-gradient-to-r from-[#0d9488cc] to-[#0891b2cc] 
            hover:underline
            decoration-cyan-800
            decoration-4 
            active:ring-2  
            ring-cyan-800 
            font-bold py-1 px-4 rounded
            transition ease-in-out delay-150  hover:scale-110 duration-150">
                Blog
            </button>
        </li>
    </ul>
    
</div>
