---
import PizzaPiratePixelIcon from '../components/PizzaPiratePixelIcon.astro';
import '@fontsource/m-plus-rounded-1c'
---
<div class="flex justify-between py-4 md:px-[13px] sm:px-[12px] p-1">

    <div class="flex transition ease-in-out delay-150  hover:scale-125 duration-150">
        <PizzaPiratePixelIcon></PizzaPiratePixelIcon>
    </div>

    <ul class="flex">
        <li class="">
            <button class=" 
            underline
            decoration-teal-500
            decoration-[3px]
            hover:ring-2  
            ring-teal-500 
            py-1 px-4 rounded
            transition ease-in-out delay-150  hover:scale-110 duration-150"
            style="font-family: 'M PLUS 1 Code', sans-serif; font-weight: 200;" 
            >   
                <a href='https://github.com/pizzapirate/my-astro-tailwind-blog' target="_blank">
                    Source
                </a>
            </button>
        </li>
    </ul>
    
</div>
