
<div class="flex justify-between  py-2">

    <span class="my-auto font-bold">Astro</span>


    <ul class="flex">
        <li class="">
            <button class="hover:bg-gradient-to-r from-amber-400 to-orange-400 
            hover:underline
            decoration-orange-600
            decoration-4 
            active:ring-2  
            ring-amber-600 
            font-bold py-1 px-4 rounded">
                About
            </button>
        </li>
        <li class="">
            <button class="hover:bg-gradient-to-r from-amber-400 to-orange-400 
            hover:underline
            decoration-orange-600
            decoration-4 
            active:ring-2  
            ring-amber-600 
            font-bold py-1 px-4 rounded">
                Blog
            </button>
        </li>
    </ul>
    
</div>