---
import '@fontsource/m-plus-rounded-1c';
// https://micku7zu.github.io/vanilla-tilt.js/ <-- Tilt effect
import TypewriterEffectWebcomponent from './Typewriter-Effect-WebComponent.astro';
---

<div class="rounded-lg overflow-hidden 
            bg-gradient-to-r from-indigo-600 to-blue-600
            hover:bg-gradient-to-r hover:from-blue-700 hover:to-indigo-700
            my-5
            h-48
            "
            id="myTiltBox"
            data-tilt data-tilt-glare data-tilt-max-glare="0.3" data-tilt-full-page-listening data-tilt-scale="1.1"
            >

    <div class="my-3">
        <div class="py-8 px-5">
            <span class="text-2xl" style="font-family: 'M PLUS 1 Code', sans-serif; font-weight: 500;"
            >   
                <span class="text-teal-600 bg-emerald-200/80 rounded pl-2 mr-1 font-bold">
                    miles@odyssey:~$
                </span>

                <TypewriterEffectWebcomponent />
            </span>

        </div>
    </div>

</div>

<!-- <style>
     .hidetilt{
        transform: inherit !important;
        }
</style> -->

<script src="vanilla-tilt"></script>
<script>
    let tiltBox = document.getElementById('myTiltBox');
    if(screen.width < 1000){
    	// @ts-ignore <-- ignoring possible null reference
        // tiltBox.classList.add('hidetilt')
        // @ts-ignore <-- ignoring possible null reference
        tiltBox.toggleAttribute("data-tilt")

        console.log('Tilt box disabled because screen is too small.')
    }
    else{
        console.log('Tilt box enabled because screen is big enough.')
    }
</script>