---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xm1" href="/PizzaPiratePixel.svg">
		<title>{title}</title>
	</head>
	<body >
		<div class="bg-[#0A192F] text-[#CCD6F6]">
			<slot />
		</div>
		<!-- bg-[#202023] -->
	</body>

</html>
